{% extends 'base.html' %}
{% block content %}
<h2>Analytics</h2>
<div class="row mt-3">
  <div class="col-md-8">
    <div class="card p-3 bg-secondary text-white">
      <h5>Efficient Frontier</h5>
      <img src="/static/images/efficient_frontier.png" class="img-fluid">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 bg-secondary text-white">
      <h5>Sector Allocation</h5>
      <img src="/static/images/sector_allocation.png" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}